<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>                                                 <!-- Dynamic pages -->
    <%- include('header')  %>                        <!-- Add 1 ejs file into another -->
    <h1>Profile Page</h1>
    <h2>Welcome: <%= user.name %></h2>           
    <h3>Email : <%= user.email %></h3>
    <h3>City : <%= user.city %></h3>
</body>
</html>